.html,body{
  font-family: Arial, Helvetica, sans-serif;

}


.vw-20{
  width: 15%;
  font-weight: bolder;
  font-size: larger;
}
.vw-30{
  width: 30%;
}
.logo-text{
  width: 150px;
}
.bi{
  margin-right: 15px;
}
.story{
  height: 150px;
  display: flex;
  align-items: center;
  gap: 12px;
  overflow-x: auto;
  padding: 5px;
}
.pp{
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 50px;
 
 }
 .pi{
  width: 450px;
  margin-bottom: 5px;
  
 }
.caption{
  font-size: large;
  margin: 2px;
}
.icon{
  font-size: 25px;
}
.suggestionprofile{
 
  width: 90%;
  }
.story-dp{
 border-radius: 80px;
  width: 60px;
  height: 60px;
}
.outerdp{
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
}
.biarrow{
  font-size: 50px;
  margin: 20px;
}
.sidebar{
  cursor: pointer;
}
image{
  border-radius: 50%;
  width: 50px;
  height: 100px;
  border-radius: 50%;

}